body {
    background: rgb(118, 184, 175);
}

.header {
    padding: 25px;
}

#name-field, #title {
    color: whitesmoke;
}

.randomizer {
    padding: 25px;
}

#random-button {
    box-shadow: 4px 9px rgb(196, 195, 195);
    border-radius: 15px;
    background: darkgray;
}

#random-button:hover {
    background: grey;
}

#img-field {
    height: 30rem;
    width: 48rem;
}

.pressed {
    box-shadow: 0 4px rgb(196, 195, 195) !important;
    transform: translateY(7px);
}

@media screen and (max-width: 768px) {
    #img-field {
        height: 17rem;
        width: 25rem;
    }
}