body {
    background: rgb(118, 184, 175);
    position: sticky;
}

h1 {
    font-family: "Cabin", sans-serif;
}

.header {
    padding: 25px;
}

#name-field, #title {
    color: whitesmoke;
}

.randomizer {
    padding: 25px;
}

#random-button {
    box-shadow: 4px 4px rgb(196, 195, 195);
    border-radius: 15px;
    background: darkgray;
    color: whitesmoke
}

#random-button:hover {
    background: grey;
}

#img-field {
    height: 30rem;
    width: 48rem;
    border: 2px black solid;
    box-shadow: 0 0 2px 2px;
}

.pressed {
    box-shadow: 0 0 rgb(196, 195, 195) !important;
    transform: translateY(5px);
}

@media screen and (max-width: 768px) {
    #img-field {
        height: 17rem;
        width: 25rem;
    }
}

@media screen and (max-height: 610px) {
    #img-field {
        height: 21.5rem;
        width: 38rem;
    }
    
}