body {
    background: rgb(118, 184, 175);
}

.header {
    padding: 25px;
}

.randomizer {
    padding: 25px;
}

#random-button:hover {
    background: grey;
}

#img-field {
    height: 30rem;
    width: 48rem;
}

#img-div {
    background: rgb(118, 184, 175);
}

@media screen and (max-width: 768px) {
    #img-field {
        height: 17rem;
        width: 25rem;
    }
}